<script src="public/js/signup.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script type="text/javascript" src="public/source/js/myscript.js"></script>
<script type="text/javascript" src="public/js/profile.js"></script>
<script type="text/javascript" src="public/source/js/search.js"></script>
<script type="text/javascript" src="public/source/js/isotope.js"></script>
<script type="text/javascript" src="public/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
<script type="text/javascript" src="public/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>