<form action="Employe" method = "POST">
    <input type="text" name="name">
    <input type="text" name="lastname">
    <input type="number" name="salary">
    <select name="role" id="">
    <option value="Employe">Employe</option>
    <option value="TeamLeader">TeamLeader</option>
    <option value="External">External</option>
    <option value="Intern">Intern</option>
    <option value="PartTime">PartTime</option>
    </select>
    <button type="Submit" name="add" value="submit">Add</button>
</form>